html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 228, 234);
}

body {
    font-family: sans-serif;
}

.hero {
    position: relative;
    background-color: #222831;
    color: #ffff;
    padding: 50px 30px;
    text-align: center;
    margin-bottom: 15px;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to left, #393E46, #948979)
}

.hero:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, #393E46, #948979)
}

.hero h1 {
    font-weight: normal;
    font-size: 6rem;
    margin: 0;
}

.hero h2 {
    font-weight: normal;
    font-size: 1.7rem;
    margin: 0;
}

.filter-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.filter-nav a {
    text-decoration: none;
    padding: 9px;
    color: #222831;
    border: 1px solid #393E46;
    border-radius: 4px;
    margin: 4px;
}

.languages {
    max-width: 700px;
    margin: 0 auto;
}

.language-card {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: 30px;
}

.language-card-photo {
    order: 1;
    grid-row: 1;
    overflow: hidden;
}

.language-card-photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: transform .3s ease-in-out;
}

.language-card:hover img {
    transform: rotate(5deg) scale(1.05);
}

.language-card-text {
    padding: 20px 25px;
}

.language-card-text h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
}

.animal-card-text small {
    color: #393E46;
}

.language-card-text p {
    margin: .8rem 0;
    padding: 0;
    line-height: 1.5rem;
}

.primary-btn {
    background: linear-gradient(#948979, #DFD0B8);
    padding: 10px;
    color: #ffff;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}